# OSMD scripts
opensheetmusicdisplay.min*
transpose-osmd-plugin*

# http server
*server.py

# patterns for word breaking
scripts/czwords.txt

# kancional
scripts/kancional.json

# breaking model
scripts/*.h5

# sources
lily_source/*
musicxml_source/*

# song data
song_data/*
musicxml/*
beam_data/*

# python cache
*.pyc